.exoticmobileview5{
    display: none;
}
@media screen and (max-width: 480px) {
    .exoticmobileview5{
        width: 100%;
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3vh;
        padding-bottom: 4vh;
    }
    .exoticmobileview5-section1-text{
        display: flex;
        font-family:Rose-Velt-Personal-Use-Only ;
        font-size: 14vw;
        
    }
    .exoticmobileview5-section4{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section4-top{
        width: 60%;
        display: flex;
        object-fit: cover;
    }
    .exoticmobileview5-section4-top-image{
        display: flex;
        width: 100%;
    }
    .exoticmobileview5-section4-bottom{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section4-bottom-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2vw;
        padding-bottom: 3vw;
    }
    .exoticmobileview5-section4-bottom-top-text1{
        display: flex;
        font-family: Rose-Velt-Personal-Use-Only;
        font-size: 10vw;
    }
    .exoticmobileview5-section4-bottom-middle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section4-bottom-middle-item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section4-bottom-middle-text2{
        display: flex;
        font-family:CormorantGaramond-MediumItalic ;
        font-size: 3.4vw;
    }
    .exoticmobileview5-section4-bottom-middle-item2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2.5vw;
    }
    .exoticmobileview5-section4-bottom-down{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.5vh;
    }
    .exoticmobileview5-section4-bottom-down-btn{
        background: linear-gradient(#EAE5E1, #EAE5E1) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat,
        linear-gradient(90deg, #7f5d26 0%, #ffd87f 47%, #d3a62a 80%, #7f5d26 100%);
        letter-spacing: 6px;
        padding: 10px 70px 10px 70px;
        box-sizing: border-box;
        font-family: Antonio-Light;
        font-size: 4.5vw;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        
    }
    .exoticmobileview5-section3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section3-line{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        padding-top: 5vh;
        padding-bottom:5vh;
    }
    .exoticmobileview5-section3-line-img{
        width: 100%;
        display: flex;
    }
    .exoticmobileview5-section2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section2-top{
        width: 60%;
        display: flex;
        object-fit: cover;
    }
    .exoticmobileview5-section2-top-image{
        display: flex;
        width: 100%;
    }
    .exoticmobileview5-section2-bottom{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section2-bottom-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2vw;
        padding-bottom: 3vw;
    }
    .exoticmobileview5-section2-bottom-top-text1{
        display: flex;
        font-family: Rose-Velt-Personal-Use-Only;
        font-size: 10vw;
    }
    .exoticmobileview5-section2-bottom-middle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section2-bottom-middle-item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exoticmobileview5-section2-bottom-middle-text2{
        display: flex;
        font-family:CormorantGaramond-MediumItalic ;
        font-size: 3.4vw;
    }
    .exoticmobileview5-section2-bottom-middle-item2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2.5vw;
    }
    .exoticmobileview5-section2-bottom-down{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.5vh;
    }
    .exoticmobileview5-section2-bottom-down-btn{
        background: linear-gradient(#EAE5E1, #EAE5E1) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat,
        linear-gradient(90deg, #7f5d26 0%, #ffd87f 47%, #d3a62a 80%, #7f5d26 100%);
        letter-spacing: 6px;
        padding: 10px 70px 10px 70px;
        box-sizing: border-box;
        font-family: Antonio-Light;
        font-size: 4.5vw;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        
    }
}