.exoticsection2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 8vh;
    background-color: #eae5e1;
    
  
}
.exoticsection2-topwrapper{
    width: 100%;
    display: flex;
    position: relative;
}
.exoticsection2-topwrapper-image{
    width: 100%;
    object-fit: cover;
    display: flex;
    background-image: url('../../assets/image/exotic/section2img.jpg');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.exoticsection2-topwrapper-img{
    width: 100%;
    visibility: hidden;
    
}
.exoticsection2-topwrapper-image1{
    width: 100%;
    object-fit: cover;
    display: flex;
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.exoticsection2-topwrapper-img1{
    width: 100%;
   

}
.exoticsection2-topwrapper-image2{
    width: 84%;
    object-fit: cover;
    display: flex;
    position: absolute;
    bottom: 0px;
   justify-content: center;
    

}
.exoticsection2-topwrapper-img2{
    width: 64%;

} 
.exoticsection2-bottomwrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eae5e1;
} 
.exoticsection2-bottomwrapper-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exoticsection2-bottomwrapper-items-text{
    font-family: Antonio-Light;
    font-size: 4.5vw;
}
.exoticsection2-bottomwrapper-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exoticsection2-bottomwrapper-item-imgwarp1{
   
    object-fit: cover;
}
.exoticsection2-bottomwrapper-item-imgwarp2{
   
   
    object-fit: cover;
}
.exoticsection2-bottomwrapper-items-img{
    width: 100%;
}
.exoticsection2-bottomwrapper-items-text1{
    font-family: Antonio-Light;
    font-size: 2vw;
}
.exoticsection2-bottomwrapper-items-text2{
    font-family: Rose-Velt-Personal-Use-Only;
    font-size: 2.4vw;
}
    
@media screen and (max-width: 480px) {
    .exoticsection2{
        display: none;
    }
}
