.raresection3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(235,230,226);
    background: linear-gradient(180deg, rgba(235,230,226,1) 0%, rgba(235,230,226,1) 22%, rgba(249,247,246,1) 100%);
}
.raresection3-wrapper-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.raresection3-line-image{
    width: 100%;
    display: flex;
    object-fit: cover;
    z-index: 4;
    
    
}
.raresection3-line-animation{
    animation: rareupandopacityline 0.8s;
    animation-timing-function: linear;  
    }
    @keyframes rareupandopacityline {
        
    
     from{
        opacity: 0;
        margin-top:15vh;
        
     }
     to{
        opacity: 1;
        margin-top: 0vh;
        
     }
    }
.raresection3-line-img{

    
    width: 100%;
}
.raresection3-wrapper-wrap-cock{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 0px;
    z-index: 3;
}
.raresection3-wrapper-wrap-cock-img{
    width: 35%;
    display: flex;
    margin-left: 27vh;
    margin-bottom: 5vh;
}
.raresection3-wrap{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10vh;
    
    
}
.raresection3-wrap-floatlogo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: 100%;
    position: absolute;
    z-index: 7;
   
    
}
.raresection3-wrap-floatlogo-image{
    width: 18%;
    display: flex;
    margin-left: 5vw;
}

.raresection3-wrap-top{
    width:100%;
    display: flex;
    flex-direction: row;
   
}
.raresection3-wrap-top1{
    
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.raresection3-wrap-top2{
    
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.raresection3-wrap-top2-wrap{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
.raresection3-wrap-top2-cover{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ebe6e2;
    position: absolute;
    bottom: 0px;
    
}
.raretextanimation1{
    animation-name: raretextanimation01;
    animation-duration: 1.2s;
    bottom: 300px;
    animation-timing-function: linear;
}
@keyframes raretextanimation01 {
    from{
       bottom: 0px;
    }
    to{
        bottom: 300px;
    }
}
.raresection3-wrap-top2-wrap-title{
    display: flex;
    font-family:Antonio-Light ;
    font-size: 3vw;
    margin-bottom: 5vh;
    
}
.raresection3-wrap-top2-wrap-des{
    display: flex;
    font-family: CormorantGaramond-Italic;
    font-size: 1.5vw;
}
.raresection3-wrap-top3{
    
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.raresection3-wrap-top3-image{
width: 100%;
display: flex;
object-fit: cover;
position: relative;
}
.raresection3-wrap-top3-image-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ebe6e2;
}
.raredowntoupimage1{
    animation-name: raredowntoupimage01;
    animation-duration: 1s;
    top: 700px;
    animation-timing-function: linear;
}


@keyframes raredowntoupimage01 {
    
    from{
        top: 0px;
    }
    to{
        top: 700px;
    }
}
.raresection3-wrap-top3-img{
width: 100%;
display: flex;
}
.raresection3-wrap-top4{
    
    width: 7%;
    display: flex;
   position: relative;
   
}

.raresection3-wrap-top4-image{
    width: 100%;
    display: flex;
   position: absolute;
    object-fit: cover;
}
.raresection3-wrap-top4-img{
    width: 100%;
    display: flex;
}
.raresection3-wrap-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.raresection3-wrap-bottom1{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.raresection3-wrap-bottom2{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.raresection3-wrap-bottom2-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: relative;
}
.raresection3-wrap-bottom2-image-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f1eeeb;
    
}
.raredowntoupimage2{
    animation: raredowntoupimage02 1s ;
    top: 800px;
    
    animation-timing-function: linear;
}


@keyframes raredowntoupimage02 {
    
    from{
        top: 0px;
        
    }
    to{
        top: 800px;
        
    }
}
.raresection3-wrap-bottom2-img{
    width: 100%;
    display: flex;
}
.raresection3-wrap-bottom3{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.raresection3-wrap-bottom3-wrap{
   
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    position: relative;
}
.raresection3-wrap-bottom3-wrap-cover{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f3f0ed;
}
.raretextanimation2{
    animation-name: raretextanimation02;
    animation-duration: 1.2s;
    bottom: 300px;
    animation-timing-function: linear;
}
@keyframes raretextanimation02 {
    from{
       bottom: 0px;
    }
    to{
        bottom: 300px;
    }
}
.raresection3-wrap-bottom3-wrap-title{
    display: flex;
    font-family:Antonio-Light ;
    font-size: 3vw;
    margin-bottom: 5vh;
}
.raresection3-wrap-bottom3-wrap-des{
    display: flex;
    font-family: CormorantGaramond-Italic;
    font-size: 1.5vw;
}

.raresection3-wrap-bottom4{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 480px){
    .raresection3{
       
        display: none;
        
    }
} 
